{
    "username": "USERNAME",
    "password": "PASSWORD",
    "headless": false,
    "chromeArgs": [],
    "myFunds": {
        "FUND FULL NAME": {
            "shortname": "MYNAME",
            "share": 1.0
        }
    }
}